<h1><%= @restaurant.name %> <small><%= @restaurant.address %></small></h1>
<h2>
  <%= pluralize @restaurant.reviews.size, "review" %>
</h2>

<div id="reviews">
  <% if @restaurant.reviews.blank? %>
    Be the first to leave a review for <%= @restaurant.name %>
  <% else %>
    <% @restaurant.reviews.each do |review| %>
     <%#= review.content %>
     <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
</div>

<h2>add a review to this restaurant</h2>
<%#= simple_form_for([@restaurant, @review]) do |f| %>
  <%#= f.input :content %>
  <%#= f.submit %>
<%# end %>


<%= render 'reviews/form', restaurant: @restaurant , review: @review %>
